@use "./style/mixins" as *;
@use "./style/typography" as *;

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: auto;
  padding: 0;
  background-image: url("../../client/src/assets/Image/cup.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0cqh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  background-color: #f8f8f8;

  @include mobile {
    width: 100%;
  }
}

nav {
  display: flex;
  position: fixed;

  top: 0;
  width: 100%;
  left: 0;
  right: 0;

  background-color: #7fa2a7;
  border-bottom: 2px solid #7fa2a7;
  padding: 18px 0;
  justify-content: left;
  align-items: center;
  font-family: "Avenir";

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  color: #f5f5f5;
  justify-content: left;
  margin: 0 5rem 0 1rem;
  font-weight: bold;
  font-size: 30px;

  @include mobile {
    justify-content: center;
    width: 3rem;
  }
}

.nav__items {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    width: 200px;
  }

  &--signup {
    font-size: 12px;
    align-items: flex-end;
    padding-top: 0.5rem;
    @include mobile {
      margin-left: 3rem;
    }
  }
}

.nav__pages {
  flex-direction: row;
  width: 300px;

  &--style {
    @include mobile {
      margin-left: 0;
      padding: 0;
    }
  }
}

.nav__signup {
  flex-direction: row;
  justify-content: right;
}

nav a {
  text-decoration: none;
  color: #f5f5f5;
  margin: 0 15px;
  font-size: 22px;
  font-weight: 400;
  transition: color 0.3s ease;

  &:hover {
    color: #f1bda5;
  }
}
